* {
	box-sizing: border-box;
}


/* elements */

html {
	color: #444;
	font-family: serif;
	font-size: 1rem;
	line-height: 1.5;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,p,div,ul,ol,pre {
	margin-top: 0;
	margin-bottom: 1.5rem;
}
a {
	color: inherit;
	text-decoration: none;
}
ul, ol {
	list-style-position: outside;
	padding-left: 1rem;
}
.highlight {
	outline: 1px solid #d7d1be;
}
p code {
	background-color: #eee;
	padding-left: 2px;
	padding-right: 2px;
}
pre {
	background-color: #eee;
	border: 1px solid #ddd;
	font-family: monospace;
	font-size: .825em;
	overflow-x: auto;
	padding: 5px;
}
pre.chroma {
	margin-bottom: 0;
}
.chroma .lntd:first-child {
	border-right: 1px solid #dbd8cb;
}
.chroma .lntd:first-child,
.chroma .lntd:first-child .chroma {
	background-color: #e6e3d8;
}
.chroma .lntd:nth-child(2) {
	padding-left: 5px;
}
kbd {
	background-color: #e1e3e5;
	border-radius: 3px;
	border: 1px solid #adb3b8;
	box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #fff inset;
	color: #242729;
	display: inline-block;
	font-size: .75em;
	margin: 0 .1em;
	padding: .1em .6em;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
}
img {
	max-width: 50%;
	margin-bottom: 1em;
}
img[alt~="Felix"] {
	float: right;
	margin: 10px;
}
.textarea {
	width: 100%;
}
.textarea--code {
	font-family: monospace;
	font-size: .825em;
}
.meta {
	margin: 0;
	display: flex;
	justify-content: space-between;
}
header .meta,
h1 ~ .meta {
	position: relative;
	top: -1.5rem;
}
main > .meta {
	display: none;
}
.meta__label,
.meta__data {
	display: inline;
	color: #888;
	font-size: .75rem;
	text-transform: lowercase;
	margin: 0;
}
.meta__label--tag {
	display: none;
}
.meta__data {
	margin-right: .5em;
}
.time {
	font-style: italic;
}
.meta .tags {
}
.tag {
	display: inline-block;
	padding: 3px 5px;
	line-height: 1;
	font-family: sans-serif;
	border: 1px solid #ddd !important;
	border-radius: 5px;
}
.tag:hover {
	border: 1px solid #555 !important;
}

h1,h2,h3 {
	color: #222;
	font-family: sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 2rem;
	margin-top: 0;
}
h1 a, h1 a:hover {
	border-bottom: none;
}
h2 {
	font-size: 1.3125rem;
	line-height: 1.1428;
}
h3 {
	margin-bottom: 0;
}
h2 em {
	font-size: 1rem;
}

.page {
	padding: 1.5rem;
	overflow: auto;
}
.page__article {
	margin-bottom: 5em;
}
.list--articles {
	max-width: 100%;
}
.page p,
.page ul,
.page ol,
.page dl,
.content {
	max-width: 40em;
}
.list__item {
	margin-bottom: 1.5rem;
}

.menu {
	width: 100%;
	padding: 1.5rem;
	text-align: left;
	background-color: #222;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% auto;
}

/* menu toggler */
.menu__icon {
	cursor: pointer;
	display: inline-block;
	padding: 28px 20px;
	position: absolute;
	right: 1.5rem;
	top: 0.75rem;
	user-select: none;
}
.menu__icon span {
	background: #fff;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}
.menu__icon span:before,
.menu__icon span:after {
	background: #fff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}
.menu__icon span:before {
	top: 5px;
}
.menu__icon span:after {
	top: -5px;
}
.menu__btn {
	display: none;
}
.menu__btn:checked ~ nav {
	max-height: 240px;
	margin-top: 1rem;
}
.menu__btn:checked ~ .menu__icon span {
	background: transparent;
}
.menu__btn:checked ~ .menu__icon span:before {
	transform: rotate(-45deg);
}
.menu__btn:checked ~ .menu__icon span:after {
	transform: rotate(45deg);
}
.menu__btn:checked ~ .menu__icon:not(.steps) span:before,
.menu__btn:checked ~ .menu__icon:not(.steps) span:after {
	top: 0;
}
/* menu toggler end */


.menu__link {
	border: none;
	display: block;
	font-family: sans-serif;
	font-size: 2rem;
	font-weight: normal;
	letter-spacing: .1em;
	padding: 0;
	text-transform: uppercase;
	transition: color 0.2s ease-in-out 0s;
}
nav {
	max-height: 0;
	transition: max-height 0.2s ease-out;
	overflow: hidden;
}
.menu__link {
	color: #aaa;
}
.menu__link:hover,
.menu__link--active,
.menu__link--section {
	border: none;
	color: #ff3333;
}
.menu__link--title {
	text-align: left;
	font-size: 1.75rem;
	color: white;
	line-height: 1.2;
}
.menu__link--nested {
	font-size: 1.5rem;
	padding-left: 1em;
}



.menu--active .menu__group {
	height: auto;
	visibility: visible;
	opacity: 1;
	padding-top: 2rem;
}
.menu--active .menu__link {
	display: block;
}
.menu--active .menu__link + .menu__group {
	padding-top: 0;
}

#pdf-resume {
	position: absolute;
	right: 2rem;
}
#pdf-resume a {
	background-color: #ff3333;
	border-radius: 3px;
	color: white;
	display: inline-block;
	padding: 3px 5px;
	font-family: sans-serif;
}
#pdf-resume a,
#pdf-resume a:hover {
	border-bottom: 0;
}

a {
	border-bottom: 1px solid #ffaaaa;
}
a:hover {
	border-bottom: 1px solid #555;
}
#filter {
	margin-bottom: 3em;
}
article.filtered {
	display: none !important;
}
.footer--article {
	margin-top: 1em;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

#TableOfContents {
	display: none;
	position: fixed;
	left: 128rem;
	left: calc(22vw + 85rem);
	top: 10rem;
	width: 30rem;
	padding: 1rem;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}
#TableOfContents ul {
	list-style: none;
	padding: 0;
}

.dict article {
	white-space: pre;
}

/* forms */

fieldset {
	padding: 0;
	border-left: none;
	border-right: none;
}
fieldset.aligned label {
	width: 14em;
	float: left;
	padding-right: .5em;
}
input {
	margin-bottom: .5em;
	padding-left: .25em;
	padding-right: .25em;
}
input[type=number] {
	width: 6em;
}

.toggler {
	margin-bottom: 1em;
}
.toggle-me {
	display: none;
}
#toggle:checked ~ .toggle-me {
	display: block;
}

.toggler input {
    position: absolute;
    left: -100vw;
}

@media (min-width: 48em) {
	body {
		flex-direction: row;
		height: 100%;
	}
	img[alt~="Felix"] {
		max-width: 200px;
	}
	.menu {
		flex: 0 0 21vw;
	}
	.page {
		flex: 1;
	}
	.menu__link--title {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}
	.menu__link--nested {
		font-size: 1em;
	}
	nav {
		max-height: none;
		visibility: visible;
		opacity: 1;
		margin-bottom: 1em;
	}
	.menu__icon {
		display: none;
	}
	.menu__link + .menu__group {
		display: none;
	}
	.menu__link--active + .menu__group {
		display: block;
	}
	.list--articles {
		column-count: auto;
		column-width: 20em;
		column-gap: 2rem;
	}
	.list--articles article {
		break-inside: avoid;
	}
}

@media (min-width: 96rem) {
	#TableOfContents {
		display: block;
	}

	#pdf-resume {
		right: calc(100% - 21vw - 40em);
	}
}

@media (min-width: 50em) {
	fieldset {
		padding: 1em;
	}
	fieldset.aligned label {
		text-align: right;
	}
}
