* {
	box-sizing: border-box;
}


/* elements */

html {
	color: #444;
	font-family: serif;
	font-size: 16px;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
ul, ol {
	list-style-position: outside;
	padding-left: 1rem;
}
pre {
	padding: 1em;
	background-color: #eee;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	overflow-x: auto;
	margin-right: 1em;
}
li code,
p code {
	background-color: #eee;
	padding: 2px;
}
kbd {
	background-color: #e1e3e5;
	border-radius: 3px;
	border: 1px solid #adb3b8;
	box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #fff inset;
	color: #242729;
	display: inline-block;
	font-size: .75em;
	margin: 0 .1em;
	padding: .1em .6em;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
}
.textarea {
	width: 100%;
}
.textarea--code {
	font-family: monospace;
	font-size: .875em;
}
.meta {
	margin: 0;
	margin-bottom: 1em;
	overflow: hidden;
}
.meta__label,
.meta__data {
	display: inline;
	font-size: .75rem;
	margin: 0;
}
.meta__label {
}
.meta__data {
	color: #888;
	margin-right: .5em;
}
.meta__label:after {
	content: ":";
}
.time {
	font-style: italic;
}
.tag {
	display: inline-block;
	padding: 3px 5px;
	line-height: 1;
	font-family: sans-serif;
	border: 1px solid #ddd !important;
	border-radius: 5px;
}
.tag:hover {
	border: 1px solid #555 !important;
}

h1,h2,h3 {
	color: #222;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 1;
	margin-bottom: .5rem;
	margin-top: 0;
}
h1 {
	font-size: 2em;
}
h1 a, h1 a:hover {
	border-bottom: none;
}
h2 {
	font-size: 1.5em;
}


.content {
	line-height: 1.5;
	padding: 24px;
	overflow: auto;
}
.content > header {
	margin-bottom: 1em;
}
.list--articles {
	max-width: 100%;
}
.list--articles article {
}
.content p {
	max-width: 40em;
}

.menu {
	width: 100%;
	padding: 24px;
	text-align: left;
	background-color: #222;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% auto;
}
.menu__link {
	border: none;
	display: block;
	font-family: sans-serif;
	font-size: 2rem;
	font-weight: normal;
	letter-spacing: .2rem;
	line-height: 1.25;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	transition: color 0.2s ease-in-out 0s;
}
.menu__group {
	height: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s linear 0s;
}
.menu__link {
	color: #aaa;
}
.menu__link:hover,
.menu__link--active,
.menu__link--section {
	border: none;
	color: #ff3333;
}
.menu__link--title {
	margin-bottom: 0;
	text-align: left;
	color: white;
}
.menu__link--nested {
	font-size: 1.5rem;
	line-height: 1.5;
	padding-left: 1em;
}

.menu__toggle {
	appearance: none;
	background-color: #222;
	border-radius: none;
	border: none;
	box-shadow: none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 27px;
	margin: 0;
	outline: 2px solid #222;
	overflow: hidden;
	padding: 0;
	position: fixed;
	right: 2rem;
	text-indent: -9999px;
	top: 1.75rem;
	transition: background 0.3s;
	width: 28px;
}
.menu__toggle::focus {
	outline: none;
}
.menu__toggle:hover {
	border: none;
}
.menu__toggle span {
	display: block;
	position: absolute;
	top: 13px;
	left: 0;
	right: 0;
	height: 3px;
	background: white;
	transition: background 0s 0.3s;
}
.menu__toggle span::before,
.menu__toggle span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
	content: "";
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}
.menu__toggle span::before {
	top: -8px;
	transition-property: top, transform;
}
.menu__toggle span::after {
	bottom: -8px;
	transition-property: bottom, transform;
}
.menu--active {
	position: absolute;
	top: 0;
	height: 100%;
}

.menu--active .menu__toggle span {
	background: none;
}

.menu--active .menu__toggle span::before {
	top: 0;
	transform: rotate(45deg);
}

.menu--active .menu__toggle span::after {
	bottom: 0;
	transform: rotate(-45deg);
}

.menu--active .menu__toggle span::before,
.menu--active .menu__toggle span::after {
	transition-delay: 0s, 0.3s;
}
.menu--active .menu__group {
	height: auto;
	visibility: visible;
	opacity: 1;
	padding-top: 2rem;
}
.menu--active .menu__link {
	display: block;
}
.menu--active .menu__link + .menu__group {
	padding-top: 0;
}

a {
	border-bottom: 1px solid #ffaaaa;
}
a:hover {
	border-bottom: 1px solid #555;
}
.content--article {
	margin-bottom: 2rem;
}
article.filtered {
	display: none !important;
}
.header--article {
	margin-bottom: 2rem;
}
.footer--article {
	margin-top: 1em;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.list article header {
	margin-bottom: 1rem;
}

#TableOfContents {
	display: none;
	position: fixed;
	left: 128rem;
	left: calc(22vw + 85rem);
	top: 10rem;
	width: 30rem;
	padding: 1rem;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}
#TableOfContents ul {
	list-style: none;
	padding: 0;
}

.dict article {
	white-space: pre;
}

/* forms */

fieldset {
	padding: 0;
	border-left: none;
	border-right: none;
}
fieldset.aligned label {
	width: 14em;
	float: left;
	padding-right: .5em;
}
input {
	margin-bottom: .5em;
	padding-left: .25em;
	padding-right: .25em;
	line-height: 1.5;
}
input[type=number] {
	width: 6em;
}

@media (min-width: 48em) {
	body {
		flex-direction: row;
		height: 100%;
	}
	.menu {
		flex: 0 0 21vw;
	}
	.content {
		flex: 1;
	}
	.menu__link--title {
		margin-bottom: 1em;
	}
	.menu__link--nested {
		font-size: 1em;
	}
	.menu__group {
		height: auto;
		visibility: visible;
		opacity: 1;
		margin-bottom: 1em;
	}
	.menu__toggle {
		display: none;
	}
	.menu__link + .menu__group {
		display: none;
	}
	.menu__link--active + .menu__group {
		display: block;
	}
	.list--articles {
		column-count: auto;
		column-width: 20em;
		column-gap: 2rem;
	}
	.list--articles article {
		break-inside: avoid;
	}
}

@media (min-width: 96rem) {
	#TableOfContents {
		display: block;
	}
}

@media (min-width: 50em) {
	fieldset {
		padding: 1em;
	}
	fieldset.aligned label {
		text-align: right;
	}
}
