{{ partial "head.html" . }}
<body>

  {{ partial "nav.html" . }}

  <main class="content">
      {{ partial "title.html" . }}
      {{ partial "meta.html" . }}
      {{ .Content }}

    {{ if .Data.Pages }}
    <input type="text" id="filter" placeholder="Filter&hellip;" />
    {{ end }}

    <div class="list list--articles">
      {{ range .Data.Pages }}
      <article class="list__item">
        <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ partial "meta.html" . }}
      </article>
      {{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}

</body>
</html>
