<!DOCTYPE html>
<html lang="en-au">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Personal website of Felix Hanley">
    <meta charset="UTF-8">
    <title>{{ with .Title }}{{ . }} &middot; {{ end }}{{ .Site.Title }} </title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- <link rel="shortcut icon" href="/favicon.png"> -->
    <script async src="https://stats.userspace.com.au/sws.js" data-id="2"></script>
    <noscript><img src="https://stats.userspace.com.au/sws.gif?id=2" style="border:0" alt="" /></noscript>
  </head>
