{{ if or .Lastmod .PublishDate .Params.Tags }}
<div class="meta content">
  {{ if .Lastmod }}
  <span class="meta__label meta__label--time">Updated</span>
  <time class="meta__data meta__data--time time time--updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}"> {{ .Lastmod.Format "2006-01-02" }} </time>
  {{ else if .PublishDate }}
  <span class="meta__label meta__label--time">Updated</span>
  <time class="meta__data meta__data--time time time--created" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}"> {{ .Date.Format "2006-01-02" }} </time>
  {{ end }}
  {{ if .Params.tags }}
  <span class="tags">
    <span class="meta__label meta__label--tag">Tagged</span>
    <span class="meta__data meta__data--tag">
      {{ range .Params.tags }}
      <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </span>
  </span>
  {{ end }}
</div>
{{ end }}
