<header class="menu">
  <a class="menu__link menu__link--title" href="{{ .Site.BaseURL }}">Felix Hanley</a>
  <a class="menu__toggle" id="nav-toggle" href="#"><span></span></a>
  <nav class="menu__group">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="menu__link{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} menu__link--active{{ end }}" href="{{ .URL }}" title="{{ .Title }}"> {{ .Title }} </a>
    {{ if .HasChildren }}
    <nav class="menu__group">
    {{ range $child := .Children }}
      <a class="menu__link menu__link--nested {{if $currentPage.IsMenuCurrent "main" . }}menu__link--active{{ end }}" href="{{ $child.URL }}" title="{{ $child.Title }}"> {{ $child.Title }} </a>
    {{ end }}
    </nav>
    {{ end }}
    {{ end }}
  </nav>

</header>
