{{ partial "head.html" . }}
<body class="posts">

  {{ partial "nav.html" . }}

  <main class="page">
    <h1 class="content">Pages tagged <span class="tag">{{ .Title }}</span></h1>
    <input type="text" id="filter" placeholder="Filter&hellip;" />

    <div class="content list list--articles">
      {{ range .Data.Pages }}
      <article class="list__item">
        <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ partial "meta.html" . }}
      </article>
      {{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}

</body>
</html>
