{{ partial "head.html" . }}
<body class="posts">

    {{ partial "body-header.html" . }}

    <section class="content">
        <header>
            <h1>Pages tagged <em>{{ .Title }}</em></h1>
            <input type="text" id="filter" placeholder="Filter&hellip;" />
        </header>

        <div class="list">
            {{ range .Data.Pages }}
            <article>
                <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>

                {{ partial "meta.html" . }}

            </article>
            {{ end }}
        </div>

    </section>

    {{ partial "footer.html" . }}

</body>
</html>
