{{ partial "head.html" . }}
<body class="posts">

  {{ partial "body-header.html" . }}

  <section class="content">
    <h1>Pages tagged <em>{{ .Title }}</em></h1>
    <input type="text" id="filter" placeholder="Filter&hellip;" />

    <div class="list">
      {{ range .Data.Pages }}
      <article>
        <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>

        {{ if .Params.tags }}
        <dl class="meta">
          <dt class="meta__label meta__label--tag">Tagged</dt>
          <dd class="meta__data meta__data--tag">
          {{ range .Params.tags }}
          <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
          </dd>
        </dl>
        {{ end }}

      </article>
      {{ end }}
    </div>

  </section>

  {{ partial "footer.html" . }}

</body>
</html>
