{{ partial "head.html" . }}

<body class="projects">

    {{ partial "header.html" . }}

    <section class="content list">
        <h1>Projects</h1>

        {{ range .Data.Pages.ByWeight }}
        <article>
            <header>
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            </header>

            {{ .Summary }}

            <footer>

                {{ partial "meta.html" . }}

            </footer>

        </article>
        {{ end }}

    </section>

    {{ partial "footer.html" . }}

</body>
</html>
